.container-body {
    background-color: #F9F9F9;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    
}

.container-card {
    background-color: #8E44AD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    width: 750px;
    box-shadow: #8E44AD 0px 22px 70px 4px;
}

.card {
    margin: 20px;
}
.text-title {
    color:#F9F9F9;
    margin:10px;
}
.flex-div {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#setText {
    width: 480px;
    height: 40px;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 25px;
    border: 2px solid #F1C40F;
    border-radius: 4px;
    box-sizing: border-box;
}
